.head-with-border{
    position: relative;

h2{
    background-color: $redcolor;
text-align: center;
color: #fff;
margin: 40px auto;
padding: 10px;
width: 300px;
border-radius: 20px;
text-transform: uppercase;
&::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: $greycolor;
    position: absolute;
    left: 0;
    top:50%;
    z-index: -1;
    
}
}
}
