$maxmobail : "(max-width: 767px )";
$minSmall : "(min-width: 768px )";
$minMedium : "(min-width: 992px )";
$minLarge : "(min-width: 1200px )";




$redcolor:#e2494c ;
$greycolor: #9c9c9c;
$float-left : left;
$float-right: right;
$text-right : right;
$text-left : left;
